In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re 
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from keras.preprocessing.sequence import pad_sequences

#matplotlib inline  

human_dna = pd.read_table('human_data.txt')
human_dna.head()

chimp_dna = pd.read_table('chimp_data.txt')
chimp_dna.head()

dog_dna = pd.read_table('dog_data.txt')
dog_dna.head()

                                            sequence  class
0  ATGCCACAGCTAGATACATCCACCTGATTTATTATAATCTTTTCAA...      4
1  ATGAACGAAAATCTATTCGCTTCTTTCGCTGCCCCCTCAATAATAG...      4
2  ATGGAAACACCCTTCTACGGCGATGAGGCGCTGAGCGGCCTGGGCG...      6
3  ATGTGCACTAAAATGGAACAGCCCTTCTACCACGACGACTCATACG...      6
4  ATGAGCCGGCAGCTAAACAGAAGCCAGAACTGCTCCTTCAGTGACG...      0

In [7]:
def string_to_array(seq_string):
   # print(seq_string)
   seq_string = seq_string.lower()
   seq_string = re.sub('[^acgt]', 'n', seq_string)
   seq_string = np.array(list(seq_string))
   return seq_string

label_encoder = LabelEncoder()
label_encoder.fit(np.array(['a','c','g','t','n']))

def one_hot_encoder(seq_string):
    int_encoded = label_encoder.transform(seq_string)
    onehot_encoder = OneHotEncoder(sparse=False, dtype=int)
    int_encoded = int_encoded.reshape(len(int_encoded), 1)
    onehot_encoded = onehot_encoder.fit_transform(int_encoded)
    onehot_encoded = np.delete(onehot_encoded, -1, 1)
    return onehot_encoded

human_dna['encoded'] = human_dna.apply(lambda x: label_encoder.transform(string_to_array(x['sequence'])), axis=1)
human_dna.drop(['sequence'], axis=1, inplace=True)

yvals = human_dna['class'].values
yvals = yvals.reshape(len(yvals), 1)
human_dna.drop(['class'], axis=1, inplace=True)
human_dna.head()

                                             encoded
0  [0, 4, 2, 1, 1, 1, 1, 0, 0, 1, 4, 0, 0, 0, 4, ...
1  [0, 4, 2, 0, 0, 1, 2, 0, 0, 0, 0, 4, 1, 4, 2, ...
2  [0, 4, 2, 4, 2, 4, 2, 2, 1, 0, 4, 4, 4, 2, 2, ...
3  [0, 4, 2, 4, 2, 4, 2, 2, 1, 0, 4, 4, 4, 2, 2, ...
4  [0, 4, 2, 1, 0, 0, 1, 0, 2, 1, 0, 4, 4, 4, 4, ...

In [8]:
print(human_dna['encoded'].iloc[1].shape)

(681,)

In [9]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM,Conv2D, Flatten
model = Sequential()
model.add(LSTM(units=64, input_shape=(1, 4)))